<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #object1{
            max-width: fit-content;
            max-height: 50px;

            float:right
        }
        #object2{
            max-width: fit-content;
            max-height: 400px;
        }
        hr {
        height:5px;
        border-width:0;
        background-color:#000000;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Page}}</title>
</head>
<body style="background-color: blanchedalmond;">
    
    <div>
        
        <h1 style = "float:none; min-height:50px;color: white;background-color: darkred;border-color: black;">
            
            {{Page}}
            <img  src ="{{image}}" id = "object1"/>
        </h1>
        <!--- this is where you change stuff-->
        <center>
            <img src ="{{image2}}" id ="object2" />
            <br>
            <font size = "6">
                <strong>{{Page}}</strong>
            </font>
        </center>
        <hr>

        <center>
            <h2>
                <table border = "5">
                    <thead><tr><th> Current Status </th><th> {{population}} / {{capacity}} people </th></tr></thead>
                </table>
            </h2>
        </center>
        
        <h3>
            <center>
                Building Type(s): {{BuildingType}} , {{subtype}}
                <br>Address: {{address}}
            </center>
        </h3>
        <hr>
        <h3>
            <center>
                Number of Floors: {{number_floors}}
                <br>Number of Study Floors: {{number_studyfloors}}
                <br>
            </center>

        </h3>
        <p1>
            <center>
                <h2>
                    <table border = "5">
                        <tr><td><center> Floor Number </center></td><td><center> Status </center></td></tr>
                        {%for i in range(0, number_studyfloors)%}
                            <tr><td> <center>{{current_floor[i]}}</center></td> <td><center> {{current_pop[i]}} / {{current_cap[i]}} people </center></td></tr>
                            
                            {%endfor%}
                </table>
            </h2>
        </center>
        </p1>
        <center>
        <hr>
        <p1>
            <a href="{{ url_for('home')}}"><h2>Click this to go back to main page</h2></a>
        </p1>    
        </center>


        <!--    please dont touch anywhere else-->
        

    </div>
    

</body>
</html>