<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #object1{
            max-width: fit-content;
            max-height: 50px;

            float:right
        }
        #object2{
            max-width: fit-content;
            max-height: 400px;
           
          
        }
        hr {
        height:5px;
        border-width:0;
        background-color:#000000;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Page}}</title>
</head>

<body style="background-color: blanchedalmond;">
    
    <div>
        
        <h1 style = "float:none; min-height:50px;color: white;background-color: darkred;border-color: black;">
            
            Home Page
            <img  src ="{{image}}" id = "object1" max-height="1%;"/>
        </h1>

        
        <center>
        <img src = "{{image2}}" id = "object2"/>
        <h2>
            BU Study Information
        </h2>
        
        <b1>
            This webpage was designed to help you choose where to study! simply click the button below to choose between the different buildings in boston university. then click on the link to see the availibity of each building! There you will see the what type of functionality the building offers, Moreover it will allow you see the occupancy of each floor and the overall ocupancy of the building.
        </b1>   
        </center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.625666774371!2d-71.10797402283234!3d42.35050363570368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379f063e53817%3A0x2b346e00e0a3bec8!2sBoston%20University!5e0!3m2!1sen!2sus!4v1670814202707!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!--- this is where you change stuff-->
        <center>
            
            <hr>
        <button onclick="myFunction()"style="font-family:Comic Sans MS;height: 100px; width: 200px; "><font size="4">Display Building Options</font></button>
        <p id="text" style="display:none">

            <font size = "6">
                Dorm
            </font>
            <br><a href="{{url_for('stuvi1')}}">StuVi1</a>
            <br><a href="{{url_for('rich')}}">Rich Residence hall</a>
            <br><a href="{{url_for('sleeper')}}">Sleeper Residence hall</a>
            <br><a href="{{url_for('claflin')}}">Claflin Residence hall</a>
            <br><a href="{{url_for('tennineteen')}}">1019</a>
            <br><a href="{{url_for('warren')}}">Warren Residence Hall</a>
            <br><a href="{{url_for('towers')}}">Towers Residence Hall</a>
            <br><a href="{{url_for('myles')}}">Myles Standish Hall</a>
            <br><a href="{{url_for('kilachand')}}">Kilachand Honors Hall</a>
            <br><a href="{{url_for('danielsen')}}">Danielsen Hall</a> <br><br>
            
            <font size = "6">
                Library
            </font>
            <br><a href="{{url_for('mugar')}}">Mugar Libary</a><br><br>

            <font size = "6">
                School
            </font>
            <br><a href="{{url_for('metcalf')}}">Metcalf</a>
            <br><a href="{{url_for('photonics')}}">Photonics</a>
            <br><a href="{{url_for('wheelock')}}">Wheelock</a>
            <br><a href="{{url_for('yawkey')}}">Yawkey</a>
            <br><a href="{{url_for('cas')}}">College of Arts and Sciences</a>
            <br><a href="{{url_for('cfa')}}">College of Fine Arts</a>
            <br><a href="{{url_for('cgs')}}">College of General Studies</a>
            <br><a href="{{url_for('com')}}">College of Communication</a>
            <br><a href="{{url_for('epic')}}">EPIC</a>
            <br><a href="{{url_for('lse')}}">Life Science and Engineering</a>
            <br><a href="{{url_for('questrom')}}">Questrom School of Buisness</a>
            <br><a href="{{url_for('law')}}">Law Building</a><br><br>

            <font size = "6">
                Food
            </font>
            <br><a href="{{url_for('gsu')}}">GSU</a><br><br>

            <font size = "6">
                Study
            </font>
            <br><a href="{{url_for('htc')}}">Howard Therman Center</a>
            
        </p>
        </center>
        <script>
        function myFunction() {
          var x = document.getElementById("text");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        </script>
        
        <hr>
        <!--    please dont touch anywhere else-->
        <center>
        <h3 style = "float:bottom">
            <a href="{{url_for('home2')}}">IF YOU DARE</a>
        </h3>
        </center>
    </div>
    

</body>
</html>