<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #object1{
            max-width: fit-content;
            max-height: 50px;

            float:right
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Page}}</title>
</head>
<body style="background-color: blanchedalmond;">
    
    <div>
        
        <h1 style = "float:none; min-height:50px;color: white;background-color: darkred;border-color: black;">
            
            Home Page
            <img  src ="{{image}}" id = "object1" max-height="1%;"/>
        </h1>
        <!--- this is where you change stuff-->
        <p1>
            <a href="{{url_for('gsu')}}"><h2>GSU</h2></a>
            <a href="{{url_for('stuvi1')}}"><h2>StuVi1</h2></a>
            <a href="{{url_for('metcalf')}}"><h2>Metcalf</h2></a>
            <a href="{{url_for('photonics')}}"><h2>Photonics</h2></a>
            <a href="{{url_for('wheelock')}}"><h2>Wheelock</h2></a>
            <a href="{{url_for('yawkey')}}"><h2>Yawkey</h2></a>
            <a href="{{url_for('htc')}}"><h2>Howard Therman Center</h2></a>
            <a href="{{url_for('cas')}}"><h2>College of Arts and Sciences</h2></a>
            <a href="{{url_for('cfa')}}"><h2>College of Fine Arts</h2></a>
            <a href="{{url_for('cgs')}}"><h2>College of General Studies</h2></a>
            <a href="{{url_for('com')}}"><h2>College of Communication</h2></a>
            <a href="{{url_for('epic')}}"><h2>EPIC</h2></a>
            <a href="{{url_for('rich')}}"><h2>Rich Residence hall</h2></a>
            <a href="{{url_for('sleeper')}}"><h2>Sleeper Residence hall</h2></a>
            <a href="{{url_for('claflin')}}"><h2>Claflin Residence hall</h2></a>
            <a href="{{url_for('tennineteen')}}"><h2>1019</h2></a>
            <a href="{{url_for('warren')}}"><h2>Warren Residence Hall</h2></a>
            <a href="{{url_for('towers')}}"><h2>Towers Residence Hall</h2></a>
            <a href="{{url_for('myles')}}"><h2>Myles Standish Hall</h2></a>
            <a href="{{url_for('kilachand')}}"><h2>Kilachand Honors Hall</h2></a>
            <a href="{{url_for('danielsen')}}"><h2>Danielsen Hall</h2></a>
            <a href="{{url_for('mugar')}}"><h2>Mugar Libary</h2></a>
            <a href="{{url_for('lse')}}"><h2>Life Science and Engineering</h2></a>
            <a href="{{url_for('questrom')}}"><h2>Questrom School of Buisness</h2></a>
            <a href="{{url_for('law')}}"><h2>Law Building</h2></a>

        </p1>
        <!--    please dont touch anywhere else-->
  

    </div>
    

</body>
</html>